#file-browser.modal{:style => "display:none"}
  .modal-header
    = link_to "&times;", :class => "close", :"data-dismiss" => "modal"
    
    %h3.title 
      Open
      
  .modal-body.listing
    %p No files
      
  .modal-footer
    = button_tag "Select", :class => "btn btn-primary"
    = button_tag "Close", :class => "btn", :"data-dismiss" => "modal"
