- if @job.failure?
  %ul
    - if @job.exceptions.is_a?(ITunes::Store::Transporter::ExecutionError)
      - @job.exceptions.errors.each do |m|
        %li
          &= m

    - else
      %li
        &= @job.exceptions

- elsif @job.result.present?
  = yield_content :results

- else
  %p
    No results.
