-# Before 2.0, result contained a Hash
- if job.result.is_a?(Array)
  - if job.result.none?
    %p No status found.
  - else
    = render_partial "jobs/results/status-2.0", :locals => { :status => job.result.first }
- else
  = render_partial "jobs/results/status-pre2.0", :locals => { :job => job }
