%h2
  Status 

%p
  Retrieve status information about previously uploaded packages. 

- bootstrap_form_for @options, :status, :class => "form-horizontal" do |f|    
  = f.text_field :vendor_id, :label => "Vendor ID:"

  = partial "shared/auth_fields", :object => f

  = f.actions do 
    = f.submit "Check Status"